extend layout
block content
  .container(role="main")
    .page-header
      h2 Keg Monitor
    .row
      .col-md-9
        .panel.panel-default
          .panel-heading 
            i.fa.fa-area-chart
            |  Historical Temperature
          .panel-body
            a(href='https://plot.ly/~butters1/221/', target='_blank', style='display: block; text-align: center;')
              | <img src="https://plot.ly/~butters1/221.png" alt="streaming temp sensor data" style="max-width: 100%; max-height: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" />
            script(data-plotly='butters1:221', src='https://plot.ly/embed.js', async)
      .col-md-3
        .panel.panel-primary
          .panel-heading
            .row
              .col-md-3
                .huge
                  i.fa.fa-fire
              .col-md-9.text-right
                .huge #.##&deg;C
          .panel-footer.text-right Current Temperature