extend layout
block content
  .container(role="main")
    .page-header
      h2 Ping Pong League
    .row
      h3.sub-header Player Stats
      .table-responsive
        table.table.table-striped
          thead
            tr
              th Rank
              th Name
              th Wins
              th Losses
              th Draws
              th Played
          tbody
            tr
              td 1
              td Jason Lyons
              td 2
              td 4
              td 1
              td 7